*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  /* typography */
  --body-copy: 18px;
  --heading-font: "Fraunces", serif;
  --body-font: "Barlow", sans-serif;

  /* color palette */
  --white: hsl(0, 0%, 100%);
  --dark-desaturated-blue: hsl(212, 27%, 19%);
  --very-dark-grayish-blue: hsl(213, 9%, 39%);
  --dark-grayish-blue: hsl(232, 10%, 55%);
  --grayish-blue: hsl(210, 4%, 67%);
  --soft-red: hsl(7, 99%, 70%);
  --yellow: hsl(51, 100%, 49%);
  --dark-desaturated-cyan: hsl(167, 40%, 24%);
  --dark-blue: hsl(198, 62%, 26%);
  --dark-moderate-cyan: hsl(168, 34%, 41%);
}

html {
  font-size: var(--body-copy);
  font-family: var(--body-font);
}

h1,
h2,
h3 {
  font-family: var(--heading-font);
}

.header {
  min-height: 100vh;
  background-image: url("../images/desktop/image-header.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  color: var(--white);
}

.header h1 {
  margin-top: 5rem;
  font-size: 3.5rem;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.5rem;
}

.arrow-down {
  margin-top: 3.5rem;
  display: block;
  align-self: center;
  height: 7rem;
  width: 2rem;
}

.navigation {
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navigation .logo {
  margin-left: 2rem;
}

.navigation ul {
  margin-right: 2rem;
  display: flex;
  width: 30%;
  align-items: center;
  list-style: none;
  gap: 1.5rem;
}

.navigation ul li a {
  text-decoration: none;
  color: var(--white);
  padding: .5rem .75rem;

}

.navigation ul li a:hover {
  background-color: var(--white);
  color: black;
  border-radius: 1rem;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 80vh 80vh 80vh;
}

.grid-container section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.grid-container section+div {
  background-image: url("../images/desktop/image-transform.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.grid-container div+div {
  background-image: url("../images/desktop/image-stand-out.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.transform div,
.standout div {
  width: 90%;
  height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.transform div h2,
.standout div h2 {
  font-size: 4rem;
}

.transform div p,
.standout div p {
  font-size: 1.5rem;
  line-height: 1.5;
  color: var(--very-dark-grayish-blue);
}

.transform div button,
.standout div button {
  display: flex;
  width: fit-content;
  font-family: var(--heading-font);
  font-size: 1.5rem;
  background: transparent;
  outline: none;
  border: none;
  cursor: pointer;
}

.transform div button p,
.standout div button p {
  position: relative;
  color: black;
}

.transform div button p::after,
.standout div button p::after {
  content: "";
  position: absolute;
  left: -0.5rem;
  bottom: .4rem;
  width: 9.5rem;
  height: .2rem;
  z-index: -1;
  border-radius: 1rem;
}

.transform div button p::after {
  background-color: var(--yellow);
}

.standout div button p::after {
  background-color: var(--soft-red);
}

.transform div button:hover p::after,
.standout div button:hover p::after {
  height: .5rem;
}


.graphic-design {
  background-image: url("../images/desktop/image-graphic-design.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.photography {
  background-image: url("../images/desktop/image-photography.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.testimonials {
  height: 70vh;
}

.testimonials h2 {
  text-align: center;
}

.testimonials div {
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.testimonial {
  width: 25%;
  padding: 1rem 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  gap: 0.75rem;
}

.testimonial p {
  text-align: center;
}

.testimonial-author {
  font-family: var(--heading-font);
}

.image-gallery {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 60vh;
}

.milkbottles {
  background-image: url("../images/desktop/image-gallery-milkbottles.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.orange {
  background-image: url("../images/desktop/image-gallery-orange.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.cone {
  background-image: url("../images/desktop/image-gallery-cone.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.sugarcubes {
  background-image: url("../images/desktop/image-gallery-sugarcubes.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.image-gallery div {
  background-color: gray;
}

.footer {
  height: 40vh;
  background-color: var(--dark-moderate-cyan);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.footer nav {
  width: 100%;
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.footer .logo {
  margin-top: 1rem;
  width: 20rem;
  height: 3rem;
  position: relative;
  display: flex;
  justify-content: center;
  color: var(--dark-desaturated-cyan);
}

.footer .logo svg {
  position: absolute;
  top: 0;
  left: 4.6rem;
  width: 25rem;
}

.footer nav ul {
  display: flex;
  list-style: none;
  gap: 2rem;
}

.footer nav ul li a {
  text-decoration: none;
  z-index: 10;
  color: var(--dark-desaturated-cyan);
}

.footer nav ul li a:hover {
  color: var(--white);
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}